/target/
/.cache/
**/.build/
**/__pycache__/
**/*.py[cod]
/build/
/generated/python/*.egg-info/
/android/.gradle/
/android/.gradle-*/
/android/build/
/android/*/build/
/android/.kotlin/
/android/local.properties
